.ajax_loader img{
	display: none;
	/*position: absolute;*/
	/*margin: 0px auto;*/
	position: absolute;
	background-color: gray;
	top: 40%;
	right: 40%;
	z-index: 9999;
	border-radius: 25px;
}
.remove_order{
	background-color: #B2B2B2;
	padding: 1px 7px 1px 7px;
	border-radius: 38px;
	color: white;
}
.success_add_alert{
	display:none;
	height: 35px;
	border-radius: 100px;
	position: fixed;
	bottom: 0%;
	padding: 7px 5px 7px 10px;
	right: 5%;
}

.site_heading{
	margin: 50px 50px;
	text-align: center;
	border: 1pc solid gray;
}
.page_header_title{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	margin-top: 14px;
	font-size: 18px;
}
.prod_price{
	font-size: 12px;
	margin-top: 12px;
	text-align: center;
	border-radius: 20px;
}

.list-group .category_container{
	/*padding: 7px 20px;*/
	padding: 10px 10px 5px 10px;
	margin-top: 30px;
	background-color: #0F9D94;
	/*outline*/
	box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
	-webkit-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
	transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
	border-radius: 2px;
	text-transform: uppercase;
	color: rgba(255,255,255,.84);

}
.category-chevron{
	margin-top: -46px;
	margin-right: -30px;
	float: right;
	font-size: 50px;
}

.category-name{
	margin-top: 17px;
	margin-left: 0px;
	/*font-weight: bolder;*/
}

.num{/*
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: #D5D5D5;
	border-radius: 3px;
	cursor: pointer;*/

}
.numpad{
	position: relative;
	font-size: 50px;
}
.table_numpad{
	position: relative;
	font-size: 40px;	
}
.modal_show_image{
	-webkit-border-radius: 15px 15px 15px 15px;	
	border-radius: 15px 15px 15px 15px;
}
.table_input_box{
	font-size: 60px;
	font-weight: bold;
	margin-top: -30px;
	margin-bottom: -5px;	
}